/*цвет основного контента #757575*/
/*цвет заголовка #212121*/
/*цвет акцента #2196F3*/
/*белый цвет #FFFFFF*/
/*цвет футера #2F303A*/
/*цвет копирайта rgba(255, 255, 255, 0.4)*/

/*General*/

:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --section-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-text-color: #ffffff;
  --footer-bg-color: #2f303a;
  --copyright-color: rgba(255, 255, 255, 0.4);
  --clients-logo-color: #afb1b8;
  --footer-socials-bg-color: rgba(255, 255, 255, 0.1);
  --team-socials-color: #afb1b8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  /*background-color: rgb(247, 240, 243);*/
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/*Header*/

.page-header {
  border-bottom: 1px solid #ececec;
}

.header-menu {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 85px;
}

.site-nav .item {
  position: relative;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus,
.clients.link:hover,
.clients.link:focus {
  color: var(--accent-color);
}

/*Contacts*/
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contacts .link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope-icon {
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.smartphone-icon {
  width: 10px;
  height: 14.94px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover .envelope-icon,
.contacts .link:focus .envelope-icon,
.contacts .link:hover .smartphone-icon,
.contacts .link:focus .smartphone-icon {
  fill: var(--accent-color);
}

/*Logo*/
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo.accent {
  color: var(--primary-title-color);
}

.address .logo.link {
  display: block;
  margin-bottom: 10px;
}
.logo.inverse {
  color: var(--primary-white-color);
}

/*Hero*/
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  width: 696px;
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--button-text-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
}

/*Sections*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

/*Our advantages*/
/*.border {
  border-bottom: 1px solid #ececec;
}*/

.advantages {
  display: flex;
}

.advantages-title {
  margin-bottom: 10px;

  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages .item {
  width: calc((100% - 30px * 3) / 4);
}

.advantages .item:not(:last-child) {
  margin-right: 30px;
}

.advantages-icon {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: var(--section-bg-color);
  border-radius: 4px;
}

/*Our services*/
.services {
  display: flex;
}

.servises .item {
  width: calc((100% - 60px) / 3);
}

.services .item:not(:last-child) {
  margin-right: 30px;
}

.services .item {
  position: relative; /*почему работает только отдельно*/
}

.service-title {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
}

/*Our team*/
.section.background {
  background-color: var(--section-bg-color);
}

.team {
  display: flex;
}

.worker-card {
  width: calc((100% - 30px * 3) / 4);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--primary-white-color);
}

.worker-card:not(:last-child) {
  margin-right: 30px;
}

.worker-info {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-right: 32px;
  padding-left: 32px;

  text-align: center;
}

.worker-name {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--primary-title-color);
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}

.worker-profession {
  margin-top: 0;
  margin-bottom: 29px;

  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Team socials*/
.socials {
  display: flex;
  justify-content: space-around;
}

.worker-info .socials.link {
  fill: var(--team-socials-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.worker-info .socials.link:hover,
.worker-info .socials.link:focus {
  fill: var(--primary-white-color);
}

/*Our clients*/
.clients {
  display: flex;
}

.clients.link {
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--clients-logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.clients.link:hover,
.clients.link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients .item {
  width: calc((100% - 30px * 5) / 6);
}

.clients .item:not(:last-child) {
  margin-right: 30px;
}

.text {
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/*Footer*/
.footer {
  background-color: var(--footer-bg-color);
}
.footer-section {
  display: flex;
  padding-top: 48px;
  padding-bottom: 28px;
  align-items: baseline;
}

.footer-contacts {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address {
  margin-right: 69px;
  width: calc(100% / 4);
}

.address-info {
  font-style: normal;
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-socials {
  display: flex;
}

.footer-socials .item {
  margin-right: 10px;
}

.footer-socials .link {
  background-color: var(--footer-socials-bg-color);
  fill: var(--primary-white-color);
}

.socials.link {
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials.link:hover,
.socials.link:focus {
  background-color: var(--accent-color);
}

.label {
  display: block;
  margin-bottom: 21px;

  color: var(--button-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join-us {
  margin-right: 94px;
  width: calc(100% / 4);
}

.copyright {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
  padding-bottom: 21px;
  padding-left: 15px;
  padding-right: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  width: 1200px;

  color: var(--copyright-color);
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Portfolio*/


}

.portfolio .link {
  color: var(--primary-title-color);
}

/*Filter*/
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item {
  margin-right: 8px;
}

.filter-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: transparent;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-title-color);
  background-color: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.portfolio .filter-button:hover,
.portfolio .filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

/*Portfolio*/
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-card {
  width: calc((100% - 60px) / 3);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-card:nth-child(3n) {
  margin-right: 0;
}

.portfolio-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-card:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-card .link {
  display: block;
}

.portfolio-description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.portfolio-item {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.portfolio-type {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.portfolio-top {
  position: relative;
  overflow: hidden;
}

.content-overlay {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  margin:0;
  padding: 63px 24px;
  
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card .link:hover .content-overlay,
.portfolio-card .link:focus .content-overlay
 {transform: translateY(0);}



/*Current page*/

.site-nav .current.link {
  color: var(--accent-color);
}


.site-nav .link.current::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  content: " ";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
